MOON_LOCATION_RESOLVER=open-meteo
MOON_WEATHER_PROVIDER=open-meteo
MOON_HOSTED_ALPHA_ENABLED=true
MOON_FEEDBACK_ENABLED=true
MOON_FEEDBACK_PERSISTENCE_ENABLED=true
MOON_FEEDBACK_PERSISTENCE_JDBC_URL=jdbc:postgresql://postgres:5432/moon_service_preview
MOON_FEEDBACK_PERSISTENCE_USERNAME=moon_service_preview
MOON_FEEDBACK_PERSISTENCE_CAPACITY=100
MOON_RESOURCE_LIMITS_WHOLE_SITE_CAPACITY=20
MOON_RESOURCE_LIMITS_WHOLE_SITE_REFILL_INTERVAL=PT2S
MOON_RESOURCE_LIMITS_PROVIDER_LOOKUP_CAPACITY=5
MOON_RESOURCE_LIMITS_PROVIDER_LOOKUP_REFILL_INTERVAL=PT5M
MOON_RESOURCE_LIMITS_OPPORTUNITY_CONCURRENCY=1
SPRING_CONFIG_IMPORT=configtree:/run/secrets/
SERVER_PORT=8080
MOON_HEALTHCHECK_HOST=127.0.0.1
