MOON_IMAGE_REPOSITORY={{ moon_service_image_repository | quote }}
MOON_IMAGE_CHANNEL={{ moon_service_image_channel | quote }}
MOON_IMAGE_SOURCE={{ moon_service_image_source | quote }}
MOON_COMPOSE_FILE={{ (moon_service_compose_dir + '/compose.yml') | quote }}
MOON_CONFIG_DIR={{ moon_service_config_dir | quote }}
MOON_STATE_DIR={{ moon_service_state_dir | quote }}
MOON_READY_URL={{ ('http://' + moon_service_bind_address + ':' + (moon_service_host_port | string) + '/readyz') | quote }}
MOON_READY_TIMEOUT_SECONDS={{ moon_service_readiness_timeout_seconds | quote }}
