MOON_IMAGE_REPOSITORY={{ moon_service_image_repository | quote }}
MOON_IMAGE_CHANNEL={{ moon_service_image_channel | quote }}
MOON_IMAGE_SOURCE={{ moon_service_image_source | quote }}
MOON_COMPOSE_FILE={{ (moon_service_compose_dir + '/compose.yml') | quote }}
MOON_CONFIG_DIR={{ moon_service_config_dir | quote }}
MOON_STATE_DIR={{ moon_service_state_dir | quote }}
MOON_READY_URL={{ ('http://' + moon_service_bind_address + ':' + (moon_service_host_port | string) + '/readyz') | quote }}
MOON_READY_TIMEOUT_SECONDS={{ moon_service_readiness_timeout_seconds | quote }}
MOON_GITHUB_REPORTING_ENABLED={{ _moon_service_github_reporting_enabled | ternary('true', 'false') }}
MOON_GITHUB_REPOSITORY={{ moon_service_github_repository | quote }}
MOON_GITHUB_DEPLOYMENT_TASK={{ moon_service_github_deployment_task | quote }}
MOON_GITHUB_DEPLOYMENT_ENVIRONMENT={{ moon_service_github_deployment_environment | quote }}
MOON_GITHUB_APP_ID={{ (moon_service_github_app_id | string) | quote }}
MOON_GITHUB_APP_INSTALLATION_ID={{ (moon_service_github_app_installation_id | string) | quote }}
MOON_GITHUB_APP_PRIVATE_KEY_FILE={{ (_moon_service_github_reporting_enabled | ternary(moon_service_github_app_private_key_path, '')) | quote }}
MOON_GITHUB_REPORT_TIMEOUT_SECONDS={{ moon_service_github_report_timeout_seconds | quote }}
