[Unit]
Description=Poll GHCR for a new tested Moon Service image

[Timer]
OnActiveSec=45s
OnUnitInactiveSec={{ moon_service_poll_interval }}
AccuracySec=15s
Unit=moon-service-deploy.service

[Install]
WantedBy=timers.target
