%{{ moon_service_ops_group }} ALL=(root) NOPASSWD: /usr/local/sbin/moon-service-control status
%{{ moon_service_ops_group }} ALL=(root) NOPASSWD: /usr/local/sbin/moon-service-control revision
%{{ moon_service_ops_group }} ALL=(root) NOPASSWD: /usr/local/sbin/moon-service-control logs
%{{ moon_service_ops_group }} ALL=(root) NOPASSWD: /usr/local/sbin/moon-service-control restart
%{{ moon_service_ops_group }} ALL=(root) NOPASSWD: /usr/local/sbin/moon-service-control rollback
%{{ moon_service_ops_group }} ALL=(root) NOPASSWD: /usr/local/sbin/moon-service-control resume
