MOON_STATE_DIR={{ moon_service_state_dir }}
MOON_PUBLIC_PROXY_PORT={{ moon_service_public_ingress_port }}
MOON_PUBLIC_HTTPS_PORT={{ moon_service_public_https_port }}
MOON_PUBLIC_REQUEST_RATE_PER_MINUTE={{ moon_service_public_request_rate_per_minute }}
MOON_PUBLIC_REQUEST_BURST={{ moon_service_public_request_burst }}
MOON_PUBLIC_API_RATE_PER_MINUTE={{ moon_service_public_api_rate_per_minute }}
MOON_PUBLIC_API_BURST={{ moon_service_public_api_burst }}
MOON_PUBLIC_CLIENT_API_RATE_PER_MINUTE={{ moon_service_public_client_api_rate_per_minute }}
MOON_PUBLIC_CLIENT_API_BURST={{ moon_service_public_client_api_burst }}
MOON_PUBLIC_CONNECTION_LIMIT={{ moon_service_public_connection_limit }}
MOON_PUBLIC_CLIENT_CONNECTION_LIMIT={{ moon_service_public_client_connection_limit }}
MOON_PUBLIC_BREAKER_WINDOW_SECONDS={{ moon_service_public_breaker_window_seconds }}
MOON_PUBLIC_BREAKER_REJECTIONS={{ moon_service_public_breaker_rejections }}
MOON_PUBLIC_SMTP_ENABLED={{ moon_service_public_smtp_enabled | ternary('true', 'false') }}
MOON_PUBLIC_SMTP_ALLOW_PLAINTEXT={{ moon_service_public_smtp_allow_plaintext | ternary('true', 'false') }}
MOON_PUBLIC_SMTP_HOST={{ moon_service_public_smtp_host }}
MOON_PUBLIC_SMTP_PORT={{ moon_service_public_smtp_port }}
MOON_PUBLIC_SMTP_SENDER={{ moon_service_public_smtp_sender }}
MOON_PUBLIC_SMTP_RECIPIENT={{ moon_service_public_smtp_recipient }}
MOON_PUBLIC_SMTP_TIMEOUT_SECONDS={{ moon_service_public_smtp_timeout_seconds }}
